:root {
  --line-border-fill: lightcoral;
  --line-border-empty: #e0e0e0;
  --br: 0.5em;
}
.homepage-container {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: #64ffda;
  background: #0a192f;
  display: flex;
  flex-direction: column;
}

nav {
  height: 5vh;
  background-color: #233554;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
}
.nav-title {
  text-transform: uppercase;
}
nav span {
  margin-left: 3rem;
  cursor: pointer;
}
nav ul {
  display: flex;
  margin-right: 3rem;
  width: 120px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  border-left: 1px solid #64ffda;
  transition: width 0.6s linear;
}

nav ul.active {
  width: 150px;
}

ul li {
  display: inline-block;
  margin-left: 1rem;
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}
ul.active li {
  opacity: 1;
  transform: rotateY(360deg);
}

.icon {
  cursor: pointer;
  background: transparent;
  position: relative;
  height: 30px;
  width: 30px;
  border: none;
}
.icon:focus {
  outline: 0;
}
.icon .line {
  background-color: #64ffda;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}
.icon .line2 {
  top: auto;
  bottom: 10px;
}
ul.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}
ul.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}

.footer {
  align-self: flex-end;
  height: 3rem;
  background-color: #233554;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: relative;
  width: 18.5em;
  height: 350px;
  background-color: #233554;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.card-container:before {
  content: '';
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #0a192f;
  transform: skewY(345deg);
  transition: transform 0.5s;
}
.card-container:hover::before {
  top: -70%;
  transform: skewY(390deg);
}
.card-container::after {
  content: 'Premium';
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.3);
}
.card-img-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
.card-img-container img {
  max-width: 100%;
  transition: 0.5s;
}
.card-container:hover .card-img-container img {
  max-width: 50%;
}
.card-content-container {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.card-content-container h3 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 15px;
}

.card-content-container .card-price {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.card-content-container .card-btn {
  position: relative;

  padding: 10px 30px;
  margin-top: 13px;
  color: #0a192f;
  border: none;
  text-decoration: none;
  background: #64ffda;
  border-radius: var(--br);
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
  cursor: pointer;
}

.card-btn:hover {
  top: 0;
  opacity: 1;
}
.card-btn:active {
  transform: scale(0.89);
}
.product-title {
  margin: 3.2rem;
  text-transform: uppercase;
}
.product-line {
  width: 90vw;
  height: 2rem;
  background: #233554;
  margin-left: 3.2rem;
}
.grid {
  padding: 3rem;
  height: 80vh;
  flex: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 20px;
}
